<section class="listing">
  <img
    class="listing-photo"
    [src]="housingLocation.photo"
    alt="Exterior photo of {{ housingLocation.name }}"
    crossorigin
  />
  <h2 class="listing-heading">{{ housingLocation.name }}</h2>
  <p class="listing-location">
    {{ housingLocation.city }}, {{ housingLocation.state }}
  </p>
  <div class="footer-card">
    <a [routerLink]="['/details', housingLocation.id]">Learn More</a>

    <button class="icon-button" (click)="addFavorites()" *ngIf="isHome">
      <mat-icon fontIcon="favorite" class="favorite-icon"></mat-icon>
    </button>

    <button class="icon-button" (click)="deleteFavorite()" *ngIf="!isHome">
      <mat-icon fontIcon="delete" class="favorite-icon"></mat-icon>
    </button>
  </div>
</section>
